/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
/*   background-color: #a280aa; */
}

div.container {
  width: 600px;
  height: 400px;
  margin: 10px auto;
  background-color: #a280aa;
}

span.cc {
  display: block;
  background-image: url(../img/creditcard_sprite.png);
  background-position-y: 20px;
  width: 30px;
  height: 20px;
  float: left;
  
}

span.cc.active {
  background-position-y: 0px;
}

span.cc.muted {
  background-position-y: 20px;
}

span.cc.star {
  background-position-x: 0px;
}

span.cc.pulse {
  background-position-x: -30px;
  width: 56px;
}

span.cc.maestro {
  background-position-x: -85px;
  width: 38px;
}

span.cc.mastercard {
  background-position-x: -125px;
  width: 40px;
}

span.cc.plus {
  background-position-x: -165px;
  width: 40px;
}

span.cc.visa {
  background-position-x: -204px;
  width: 33px;
}

div.ccs {
  margin: 5px auto;
  width: 240px;
  height: 20px;
}


div.test {
  position: relative;
  left: 150px;
  top: 100px;
  width: 300px;
  height: 200px;
  background-color: #d5c1e8;
}

div.panel {
  position: relative;
  width: 360px;
  height: 325px;
  margin: 0px auto;
  background-color: #f1f0e7;
  border-top: 5px solid #bebebe;
}

div.panel img.graffiti {
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 158px;
  height: 112px;
}

div.panel img.logo {
  position: absolute;
  bottom: 85px;
  left: 195px;
  width: 110px;
  height: 6px;
}

div.sign {
  position: relative;
  margin: 0px auto;
  width: 400px;
  background-color: #136cae;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.sign img.banner {
  display: block;
  margin: 0px auto;
  width: 298px;
  height: 122px;
  padding: 10px 0px;
}

div.sign img.graffiti {
  position: absolute;
  top: 25px;
  left: 180px;
  width: 207px;
  height: 63px;
}

div.monitor {
  width: 240px;
  height: 188px;
  background-color: #75b3d3;
  margin: 0px auto;
  border: 5px solid #e1e1d7;
}

div.key {
  position: absolute;
  width: 30px;
  height: 18px;
  background-color: #c1c1c1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 2px solid #9b9b9b;
  cursor: pointer;
}

div.ln {
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #9b9b9b;
}

div.ln.l {
  border-right: 2px solid #aeaeae;
}

div.ln.r {
  border-left: 2px solid #aeaeae;
}

div.key#key-a {
  top: 90px;
  left: 15px;
}

div.ln#ln-a {
  top: 100px;
  left: 45px;
}

div.key#key-b {
  top: 120px;
  left: 15px;
}

div.ln#ln-b {
  top: 130px;
  left: 45px;
}

div.key#key-c {
  top: 150px;
  left: 15px;
}

div.ln#ln-c {
  top: 160px;
  left: 45px;
}

div.key#key-d {
  top: 180px;
  left: 15px;
}

div.ln#ln-d {
  top: 190px;
  left: 45px;
}

div.key#key-e {
  top: 90px;
  left: 315px;
}

div.ln#ln-e {
  top: 100px;
  left: 305px;
}

div.key#key-f {
  top: 120px;
  left: 315px;
}

div.ln#ln-f {
  top: 130px;
  left: 305px;
}

div.key#key-g {
  top: 150px;
  left: 315px;
}

div.ln#ln-g {
  top: 160px;
  left: 305px;
}

div.key#key-h {
  top: 180px;
  left: 315px;
}

div.ln#ln-h {
  top: 190px;
  left: 305px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}