<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div class="container">
          <div class="sign">
            <img class="banner" src="img/atm_sign.png">
            <img class="graffiti" src="img/graffiti.png">
          </div>
          <div class="panel">
            <div class="ccs">
              <!-- Next step: Backbone collection for each credit card sign. Same applies to all numbered HTML elems in this file -->
              <div id="cc1"></div>
              <div id="cc2"></div>
              <div id="cc3"></div>
              <div id="cc4"></div>
              <div id="cc5"></div>
              <div id="cc6"></div>
            </div>
            <div class="monitor">
              <div id="message"></div>
              <div id="lbl1"></div>
              <div id="lbl2"></div>
              <div id="lbl3"></div>
              <div id="lbl4"></div>
              <div id="lbl5"></div>
              <div id="lbl6"></div>
              <div id="lbl7"></div>
              <div id="lbl8"></div>
            </div>
            <div class="buttons">
              <div id="btn1"></div>
              <div id="btn2"></div>
              <div id="btn3"></div>
              <div id="btn4"></div>
              <div id="btn5"></div>
              <div id="btn6"></div>
              <div id="btn7"></div>
              <div id="btn8"></div>
<!--
              <div class="key slot-a"></div><div class="ln l slot-a"></div>
              <div class="key slot-b"></div><div class="ln l slot-b"></div>
              <div class="key slot-c"></div><div class="ln l slot-c"></div>
              <div class="key slot-d"></div><div class="ln l slot-d"></div>
              <div class="key slot-e"></div><div class="ln r slot-e"></div>
              <div class="key slot-f"></div><div class="ln r slot-f"></div>
              <div class="key slot-g"></div><div class="ln r slot-g"></div>
              <div class="key slot-h"></div><div class="ln r slot-h"></div>
-->
            </div>
            <img class="logo" src="img/spanning_systems.png">
            <img class="graffiti" src="img/sticker_graf.png">
          </div>
        </div>
        <!-- Backbone templates -->
        <script type="text/template" id="atm-option-template">
          <div>
            <div class="ln l"></div><div><%- label %>
          </div>
        </script>
        
        <script type="text/template" id="atm-button-template">
          <div class="key <%= enabled ? 'active' : '' %> slot-<%- slot %>"></div><div class="ln l slot-<%- slot %>"></div>
        </script>
        
        <script type="text/template" id="cc-template">
          <span class="cc <%- kind %> <%- status %>"></span>
        </script>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone-min.js"></script>
        <script src="js/atm.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
